<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KanjiApp</title>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/loginjs.js"></script>
<link rel="stylesheet" href="/assets/styles.css">

</head>
<body>
    <div class="login-form">
        <h1>Login Form</h1>
        <form method="POST">
            <input id ="username"type="text" name="username" placeholder="Username" required>
            <input id ="password" type="password" name="password" placeholder="Password" required>
            <input id ="submit-login-button" type="submit">
        </form>
    <a href="/registeruser"> Not a user? </a>
    <div id="login-error" hidden> Incorrect username or password. </div>
    </div>
</body>