/* text box */
#kanjiInput {
    width: 75%;
    height: 33%
}

/* left side of screen */
#input-container {
    float: left;
    width: 50%
}

/* right side of screen */
#kanji-container {
    float: right;
    width: 50%
}

/* The Kanji wrapper */
.Kanji-wrapper {
    float: left;
    width: 100%;
    margin-bottom: 5px;

}

/* The Kanji */
.Kanji {
    float: left;
    font-weight: bold;
    font-size: 3rem;
    margin-right: 5px;
    background: bisque;
}

/* Kanji Information */
.Kanji-Info{
    float: left;
}


/* Stuff for login page */ 

.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/* Stuff for registration page */ 

.registration-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.registration-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.registration-form input[type="password"],
.registration-form input[type="text"],
.registration-form input[type="email"]  {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.registration-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}