/* text box */
#kanjiInput {
    width: 75%;
    height: 33%
}

/* left side of screen */
#input-container {
    float: left;
    width: 50%
}

/* right side of screen */
#kanji-container {
    float: right;
    width: 50%
}

/* The Kanji wrapper */
.Kanji-wrapper {
    float: left;
    width: 100%;
    margin-bottom: 5px;

}

/* The Kanji */
.Kanji {
    float: left;
    font-weight: bold;
    font-size: 3rem;
    margin-right: 5px;
    background: bisque;
}

/* Kanji Information */
.Kanji-Info{
    float: left;
}


/* Stuff for login page */ 

.login-container{
    text-align: center;
    padding-top: 15px;
}